{% extends 'base.html' %}

{% block page_title %}Recipes{% endblock %}

{% block page_heading %}Recipes{% endblock %}
{% block content %}
<div class="container">
  <div class="cards-list">
    {% for recipe in recipes %}
    <div class="col s12 m6 l4">
    <div class="card">
      <a class="card_image" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"><img src="{{ recipe.image_file }}" alt=""></a>
      <div class="card_title title-black">
        <span class="card-title">{{ recipe.recipe_name }}</span>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
